

.education-wrapper {
   
    min-height: 100vh;
    padding: 50px 5% 70px 10%; 
    
    
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    gap: 80px; 
    align-items: flex-start;
}


[data-scroll-container] {
    overflow: hidden; 
}



.left {
    position: sticky; 
    top: 100px; 
    padding-right: 40px;
}

.left .title {
    font-size: 5rem; 
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1;
}

.left .desc {
    font-size: 1.1rem; 
    font-weight: 300;
    line-height: 1.6;
    max-width: 450px;
    opacity: 0.8; 
}



.right {
    display: flex;
    flex-direction: column;
    padding-top: 150px; 
}

.edu-item {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    cursor: default;
}


.edu-item:last-child {
    border-bottom: none;
}


.edu-item > div:first-child { 
    
    font-size: 1.35rem; 
    font-weight: 600;
    margin-bottom: 5px;
}

.edu-item > div:nth-child(2) { 
    
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
}


/* --- Responsive Adjustments (for smaller screens) --- */

@media (max-width: 992px) {
    .education-wrapper {
        /* Switch to a single column layout */
        grid-template-columns: 1fr;
        padding: 50px 8%;
    }

    .left {
        position: static; 
        top: auto;
        padding-right: 0;
        margin-bottom: 50px;
    }
    
    .left .title {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .left .desc {
        font-size: 1rem;
    }

    .right {
        padding-top: 0;
    }
}