
.hero {
  color: white;
  position: relative;
  z-index: 5;
  margin-top: 0px;
  padding-top: 0px;
}
.iam{
    
    margin-top: 200px;
}
.hero-img {
  width: 760px;
  border-radius: 10px;
}

.hero-tag {
  opacity: 0.7;
  font-size: 14px;
  letter-spacing: 2px;
}

.hero-title {
  font-size: 42px;
}

.hero-sub {
  font-size: 12px;
  opacity: 0.8;
  max-width: 350px;
}

.about-box {
  background: #ffffff;          
  border-radius: 12px;      
  color: rgb(0, 0, 0);              
  line-height: 1.7;
  border: 1px solid #222; 
  padding-bottom: 0%; 
  margin-bottom: 0%;  
}

.aboutme {
  font-weight: bold;
  font-size: 108px;
}

.about p {
  opacity: 0.9;
  font-size: 15px;
}
