/* MAIN NAVBAR */
.navbar {
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 10;
  width: 100%;
 
  box-shadow: none;
  backdrop-filter: blur(5px);
}

/* FIX bootstrap toggler icon color */
.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  filter: invert(1);     /* Makes icon white */
}

/* BRAND TEXT */
.navbar-brand {
  font-size: 22px;
  letter-spacing: 1px;
}

/* MENU BOX GLASS EFFECT */
.custom-menu {
  list-style: none;
  display: flex;
  gap: 35px;
  background: rgba(34, 34, 34, 0.6);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

/* MENU LINKS */
.nav-link {
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #bbbbbb !important;
  letter-spacing: 3px;
}

/* MOBILE MODE */
@media (max-width: 992px) {
  .custom-menu {
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }
}
