.timeline-section {
  color: white;
  position: relative;
  content: center;
  
  
  padding: 5%;

}

.timeline-title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}



.timeline-item {
  margin-bottom: 80px;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.8s ease;
  z-index: 5;
}

/* Locomotive triggers this */
.timeline-item.in-view {
  opacity: 1;
  transform: translateY(0);
}

.timeline-year {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #d1d1d1;
}

/* Dot */
.timeline-dot {
  width: 16px;
  height: 16px;
  background: #ff4d4d;
  border-radius: 50%;
  box-shadow: 0 0 10px #ff4d4d;
  z-index: 10;
}

.job-title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #f2f2f2;
  letter-spacing: 1px;
}

.timeline-list {
  padding-left: 20px;
}

.timeline-list li {
  margin-bottom: 6px;
  color: #c9c9c9;
  font-size: 15px;
  line-height: 1.6;
}

/* Mobile */
@media (max-width: 768px) {
  
  .timeline-dot {
    display: none;
  }
}
